/* Start of Footer Section */

.footer-section .footer {
    background: var(--NavFot);
}

.footer-section .footer-top {
    padding: 50px 0 30px 0;
    border-bottom: 1px solid var(--Bor);
}

.footer-section .footer-box img {
    width: 70%;
    height: 100px;
    padding-bottom: 30px;
}

.footer-section .footer-box p {
    color: var(--Wtext);
    line-height: 1.9;
    padding-bottom: 30px;
}

.footer-section .payment-icons {
    padding-top: 6px;
}

.footer-section .payment-icons i {
    color: var(--Wtext);
    font-size: 25px;
    margin-right: 10px;
}

.footer-section .footer-box h2 {
    color: var(--Wtext);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    position: relative;
}

.footer-section .footer-box h2::after {
    content: "";
    position: absolute;
    background-color: rgb(255, 112, 136);
    height: 2px;
    width: 20%;
    left: 0;
    bottom: -2px;
}

.footer-section .footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-section .footer-box ul li a {
    text-decoration: none;
    color: var(--Wtext);
    line-height: 2.5;
    font-weight: 100;
}

.footer-section .social-icons i {
    font-size: 22px;
    margin-right: 15px;
}

.footer-section .footer-bottom {
    padding: 40px 0 30px 0;
}

.footer-section .footer-copyright {
    color: var(--Wtext);
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .footer-section .footer-box {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-section .footer-box {
        margin-bottom: 30px;
    }
}

/* End of Footer Section */
