/* Styles for Login, Register, OTP, New Password, and Forgot Password Forms */

.LR-section .image img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.LR-section .form-container {
    padding: 20px;
    background-color: var(--Lbackground);
}

.LR-section .heading h4 {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--Dtext);
}

.LR-section .user-form .form-group {
    margin-bottom: 20px;
}

.LR-section .user-form input {
    width: 100%;
}

.LR-section .user-form .submit-button {
    width: 100%;
}

.LR-section .forgot-password small a {
    color: red;
    font-weight: 400;
    text-decoration: underline;
}

.LR-section .sign small {
    font-size: 14px;
    margin-top: 5px;
}

.LR-section .sign small a {
    font-weight: 600;
    text-decoration: underline;
    color: blue;
}

/* End of Styles for Login, Register, OTP, New Password, and Forgot Password Forms */
