/* Start of Product Section */

.product-section .product-images {
    margin-bottom: 0px;
}

.product-section .image-display {
    overflow: hidden;
}

.product-section .image-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
    border-radius: 5px;
}

.product-section .image-showcase img {
    min-width: 100%;
    height: 400px;
    border-radius: 5px;
}

.product-section .image-select {
    display: flex;
}

.product-section .image-select .image-item {
    margin: 0.3rem;
}

.product-section .image-item img {
    height: 110px;
    border: 1px solid gray;
    border-radius: 10px;
}

.product-section .image-item:hover {
    opacity: 0.8;
}

.product-section .product-details h4 {
    color: var(--Dtext);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.product-section .product-details h4 span {
    display: block;
    font-size: 15px;
    color: var(--Gtext);
    font-weight: 400;
    margin-top: 10px;
}

.product-section .rating {
    margin-bottom: 16px;
}

.product-section .rating i {
    color: var(--Star);
    font-size: 15px;
    margin-right: -2px;
}

.product-section .rating span {
    margin-left: 5px;
    font-size: 13px;
    color: var(--Gtext);
}

.product-section .product-details .price {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 27px;
    color: var(--Main);
}

.product-section .product-details .price span {
    font-size: 16px;
    color: var(--Gtext);
    text-decoration: line-through;
    margin-left: 10px;
    display: inline-block;
}

.product-section .product-details p {
    margin-bottom: 28px;
    color: var(--Gtext);
    font-weight: 400;
}

.product-section .product-details .buttons {
    margin-bottom: 30px;
}

.product-section .product-details .buttons i {
    padding-right: 10px;
}

.product-section .product-details .btn {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}

.product-section .product-details .widget {
    border-top: 1px solid var(--Bor);
    padding-top: 35px;
}

.product-section .widget ul {
    padding: 0;
}

.product-section .widget ul li {
    list-style: none;
    margin-bottom: 10px;
}

.product-section .widget ul li span {
    font-size: 14px;
    font-weight: 600;
    color: var(--Dtext);
    width: 120px;
    float: left;
    margin-bottom: 10px;
}

.product-section .widget ul li label {
    display: block;
    font-size: 14px;
    color: var(--Gtext);
    margin-bottom: 10px;
    font-weight: 400;
}

@media screen and (min-width: 992px) {
    .product-section .product-images {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .product-section .product-images {
        margin-bottom: 20px;
    }

    .product-section .image-showcase {
        height: 350px;
    }

    .product-section .image-item img {
        height: 65px;
    }
}

/* End of Product Section */

/* Start of Description and Review Section */

.description-review-section .description {
    border-top: 1px solid var(--Bor);
}

.description-review-section .description h5 {
    color: var(--darktext);
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 30px;
    text-transform: uppercase;
}

.description-review-section .description p {
    font-size: 14px;
    color: var(--Gtext);
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

.description-review-section .review-section h5 {
    color: var(--Dtext);
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 30px;
    text-transform: uppercase;
}

.description-review-section .review-card {
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    margin-top: 10px;
}

.description-review-section .review-img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 1px solid var(--Bor);
}

.description-review-section .review-body {
    padding: 0;
    padding-left: 12px;
}

.description-review-section .review-body p {
    color: var(--Dtext);
    font-size: 16px;
    font-weight: 600;
}

.description-review-section .review-body i {
    font-size: 10px;
    color: var(--Star);
    margin-right: -2px;
}

.description-review-section .comment p {
    color: var(--Gtext);
    font-weight: 400;
    font-size: 14px;
    margin-top: 7px;
}

/* End of Description and Review Section */

/* Start of Product Card Section */

.product-section .related-heading {
    padding: 0px 0px 20px 0px;
    text-align: center;
}

.product-section .related-heading h4 {
    color: var(--Dtext);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

/* End of Product Card Section */
