/* Start of Profile Section */

.profile-section .info-card {
    border: none;
    border-radius: 0;
    margin-bottom: 14px;
}

.profile-section .profile-info {
    text-align: center;
    padding: 20px 0;
    background-color: var(--Lbackground);
}

.profile-section .info-img {
    width: 150px;
    height: 170px;
    border-radius: 50%;
    border: 1px solid var(--Bor);
}

.profile-section .info-name {
    margin: 20px 0 30px;
    font-weight: 600;
}

.profile-section .info-buttons {
    display: block;
    justify-content: center;
    margin-bottom: 12px;
}

.profile-section .info-buttons button {
    margin: 0 3px;
}

.profile-section .details-card {
    background-color: var(--Lbackground);
    padding: 12px 10px;
    border: none;
    border-radius: 0;
}

.profile-section .detail-row {
    border-bottom: 1px solid var(--Bor);
    padding: 15px 0;
}

.profile-section .detail-heading {
    font-size: 16px;
    font-weight: 600;
    color: var(--Dtext);
}

.profile-section .detail-text {
    color: var(--Gtext);
    font-size: 15px;
    font-weight: 400;
}

/* End of Profile Section */

/* Start of Edit Profile and Change Password Modal */

.pimage {
    display: flex;
    align-items: center;
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
}

.modal img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--Bor);
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
}

/* End of Edit Profile and Change Password Modal */
